body {
    font-family: Arial, sans-serif;
}

#news-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.news-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
}
